@font-face {
    font-family: 'CustomFont'; 
    src: url('fonts/OMORI_GAME2.ttf') format('truetype'); 
}

@font-face {
    font-family: 'CustomFont2'; 
    src: url('fonts/OMORI_GAME.ttf') format('truetype'); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background: url('images/wallpaper.png') no-repeat center center fixed;
    background-size: cover;
}

.content {
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window {
    background-color: rgba(23, 23, 23, 0.7); 
    color: #fff;
    border-radius: 10px;
    padding: 40px;
    width: 50vw;
    height: 55vh;
    max-width: none;
    max-height: none;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: auto;
    position: relative;
}

.profile-picture-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.bow-container {
    position: absolute;
    top: -15px;
    right: 913px;
    width: 50px;
    height: 50px;
    overflow: visible;
    z-index: 1;
}

.bow-image {
    width: 100%;
    height: auto;
}

.title-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    font-family: Arial, sans-serif;
}

.title {
    font-family: 'CustomFont2', Arial, sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.bio {
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: 20px;
    color: #dcdcdc;
    margin: 0;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.audio-control {
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: 23px;
    width: 80px;
    height: 40px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #e7e7e7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.audio-control:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.audio-control:focus {
    outline: none;
}

.volume-control {
    width: 60px;
    -webkit-appearance: none;
    appearance: none;
    background: rgb(255, 255, 255);
    height: 2.5px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.volume-control:hover {
    opacity: 1;
}

.volume-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 7px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
}

.volume-control::-moz-range-thumb {
    width: 7px;
    height: 7px;
    background: rgb(242, 241, 241);
    cursor: pointer;
    border-radius: 50%;
}

.gif-container {
    position: absolute;
    bottom: 4px;
    left: 14px;
    width: 190px;
    height: 330px;
}

.gif-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0%;
}

.socials {
    position: absolute;
    bottom: 30px;
    left: 220px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.social-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.social-icon {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    margin-right: 10px;
}

.social-text {
    font-family: 'CustomFont', Arial, sans-serif;
    color: #fff;
    font-size: 30px;
}

.social-item:hover .social-icon {
    opacity: 0.8;
}

.quote-generator {
    position: absolute;
    bottom: 80px;
    left: 500px;
    width: 380px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
}

.quote-text {
    color: #fff;
    font-family: 'CustomFont', Arial, sans-serif;
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
    overflow-y: auto;
    height: 120px;
    display: flex;
    align-items: center;
}

.generate-button {
    width: 120px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #e7e7e7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'CustomFont2', Arial, sans-serif;
    font-size: 21px;
    margin-top: 5px;
}

.generate-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.generate-button:focus {
    outline: none;
}
