/* Resetting margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: #fff; /* Text color to ensure readability against the background */
    background: url('images/background.jpg') no-repeat center center fixed; /* Updated background image */
    background-size: cover;
}

.content {
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window {
    background-color: rgba(23, 23, 23, 0.7); /* Black with 70% opacity */
    color: #fff; /* Text color for readability */
    border-radius: 10px; /* Rounded corners */
    padding: 40px;
    width: 50vw; /* 50% of the viewport width */
    height: 55vh; /* 55% of the viewport height */
    max-width: none; /* Removes maximum width */
    max-height: none; /* Removes maximum height */
    
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional shadow */
    text-align: center; /* Center text inside the window */
    overflow: auto; /* Adds scroll bars if content overflows */
    position: relative; /* Position relative to contain the profile picture and iframe */
}

.profile-picture-container {
    position: relative; /* This makes it the reference point for positioning the bow image */
    width: 100px; /* Size of the profile picture */
    height: 100px; /* Size of the profile picture */
}

.profile-picture {
    position: relative; /* Position profile picture relative to its container */
    width: 100%;
    height: 100%;
    border-radius: 5%; /* Makes the image round */
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

.bow-container {
    position: absolute; /* Position the bow container absolutely within the profile-picture-container */
    top: -20px; /* Adjust as needed to position the bow */
    right: 67px; /* Adjust as needed to position the bow */
    width: 50px; /* Adjust size of the bow container */
    height: 50px; /* Adjust size of the bow container */
    overflow: visible; /* Ensure the bow image can extend beyond its container */
    z-index: 1; /* Ensure the bow image appears on top of the profile picture */
}

.bow-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}


.spotify-embed {
    position: absolute;
    top: 160px; /* Position directly below the profile picture */
    left: 20px; /* Align with the profile picture */
    border-radius: 12px;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.audio-control {
    width: 80px; /* Fixed width */
    height: 40px; /* Fixed height */
    padding: 0; /* Remove padding to ensure consistent size */
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #e7e7e7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.audio-control:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.audio-control:focus {
    outline: none;
}

.volume-control {
    width: 60px;
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    background: rgb(255, 255, 255); /* Slider track */
    height: 2.5px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.volume-control:hover {
    opacity: 1;
}

.volume-control::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 7px; /* Thumb width */
    height: 7px; /* Thumb height */
    background: rgb(255, 255, 255); /* Thumb color */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 50%;
}

.volume-control::-moz-range-thumb {
    width: 7px;
    height: 7px;
    background: rgb(242, 241, 241);
    cursor: pointer;
    border-radius: 50%;
}
/* Existing CSS */

.gif-container {
    position: absolute;
    bottom: 4px; /* Distance from the bottom of the window */
    left: 14px; /* Align with the profile picture and Spotify embed */
    width: 130px; /* Size of the GIF container */
    height: 250px; /* Size of the GIF container */
}

.gif-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the GIF covers the container without distortion */
    border-radius: 0%; /* Optional: adds rounded corners */
}
